<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>DSpace Module Extensions</display-name>

    <context-param>
        <param-name>dspace-config</param-name>
        <param-value>${dspace.dir}/config/dspace.cfg</param-value>
        <description>
            The location of the main DSpace configuration file
        </description>
    </context-param>

    <!-- new ConfigurationService initialization for dspace.dir -->
    <context-param>
        <param-name>dspace.dir</param-name>
        <param-value>${dspace.dir}</param-value>
        <description>
            The location of the main DSpace directory
        </description>
    </context-param>

    <!-- Configuration Information -->

    <!--
       Listener to initialise DSpace configuration and clean up the application
       -->
    <listener>
        <listener-class>
            org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.dspace.app.util.DSpaceContextListener
        </listener-class>
    </listener>

    <!-- Servlets -->

    <!-- Servlet Mappings -->
</web-app>
